/* line 1, ../scss/modules/_grid.scss */
.grid {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

/* line 7, ../scss/modules/_grid.scss */
.sub-grid {
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  margin: 0 25px 25px 0;
  background: #fff;
  position: relative;
}

/* line 17, ../scss/modules/_grid.scss */
.sub-grid:nth-child(3n) {
  margin: 0 0 25px 0;
}

/* line 21, ../scss/modules/_grid.scss */
.sub-grid:nth-child(5) {
  background: #000;
  z-index: 10;
  -webkit-animation-name: scale;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

/* line 41, ../scss/modules/_grid.scss */
.sub-grid:nth-child(4) {
  animation-name: oneScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 2s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: oneScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 2s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

/* line 60, ../scss/modules/_grid.scss */
.sub-grid:nth-child(6) {
  animation-name: twoScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 2s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: twoScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 2s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  z-index: 5;
}

/* line 81, ../scss/modules/_grid.scss */
.sub-grid:nth-child(1) {
  animation-name: threeScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: threeScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 3s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

/* line 100, ../scss/modules/_grid.scss */
.sub-grid:nth-child(7) {
  animation-name: fourScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: fourScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 3s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

/* line 121, ../scss/modules/_grid.scss */
.sub-grid:nth-child(3) {
  animation-name: fiveScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: fiveScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 3s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

/* line 140, ../scss/modules/_grid.scss */
.sub-grid:nth-child(9) {
  animation-name: sixScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: sixScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 3s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

/* line 161, ../scss/modules/_grid.scss */
.sub-grid:nth-child(2) {
  animation-name: sevenScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: sevenScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 3s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

/* line 180, ../scss/modules/_grid.scss */
.sub-grid:nth-child(8) {
  animation-name: eightScene;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  -webkit-animation-name: eightScene;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 3s;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes oneScene {
  0% {
    background: #000;
    left: 150px;
    top: 0px;
    backgroud: #000;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
    backgroud: #000;
  }
}
/* Standard syntax */
@keyframes oneScene {
  0% {
    background: #000;
    left: 150px;
    top: 0px;
    backgroud: #000;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
    backgroud: #000;
  }
}
/* Chrome, Safari, Opera 
@-webkit-keyframes oneRotate {
	from { transform: rotate(0deg); left:0px; top:0px;}
	to   { transform: rotate(0deg); left:175px; top:-175px;}
}

/* Standard syntax 
@keyframes oneRotate {
	from { transform: rotate(0deg); left:0px; top:0px;}
	to   { transform: rotate(0deg); left:175px; top:-175px;}
}*/
/* Chrome, Safari, Opera */
@-webkit-keyframes twoScene {
  0% {
    background: #000;
    left: -150px;
    top: 0px;
    backgroud: #000;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
    backgroud: #000;
  }
}
/* Standard syntax */
@keyframes twoScene {
  0% {
    background: #000;
    left: -150px;
    top: 0px;
    backgroud: #000;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
    backgroud: #000;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes twoRotate {
  from {
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }
  to {
    transform: rotate(0deg);
    left: -175px;
    top: 175px;
  }
}
/* Standard syntax */
@keyframes twoRotate {
  from {
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }
  to {
    transform: rotate(0deg);
    left: -175px;
    top: 175px;
  }
}
@-webkit-keyframes threeScene {
  0% {
    background: #000;
    left: 0px;
    top: 150px;
    backgroud: #000;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
    backgroud: #000;
  }
}
/* Standard syntax */
@keyframes threeScene {
  0% {
    background: #000;
    left: 0px;
    top: 150px;
    backgroud: #000;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
    backgroud: #000;
  }
}
@-webkit-keyframes fourScene {
  0% {
    background: #000;
    left: 0px;
    top: -175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
/* Standard syntax */
@keyframes fourScene {
  0% {
    background: #000;
    left: 0px;
    top: -175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
@-webkit-keyframes fiveScene {
  0% {
    background: #000;
    left: 0px;
    top: 175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
/* Standard syntax */
@keyframes fiveScene {
  0% {
    background: #000;
    left: 0px;
    top: 175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
@-webkit-keyframes sixScene {
  0% {
    background: #000;
    left: 0px;
    top: -175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
/* Standard syntax */
@keyframes sixScene {
  0% {
    background: #000;
    left: 0px;
    top: -175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
@-webkit-keyframes sevenScene {
  0% {
    background: #000;
    left: 0px;
    top: 175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
/* Standard syntax */
@keyframes sevenScene {
  0% {
    background: #000;
    left: 0px;
    top: 175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
@-webkit-keyframes eightScene {
  0% {
    background: #000;
    left: 0px;
    top: -175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
/* Standard syntax */
@keyframes eightScene {
  0% {
    background: #000;
    left: 0px;
    top: -175px;
  }
  100% {
    background: #000;
    left: 0px;
    top: 0px;
  }
}
