@-webkit-keyframes sixScene {
    0%   {background:#000; left:0px; top:-175px;}
    100% {background:#000; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes sixScene {
    0%   {background:#000; left:0px; top:-175px;}
    100% {background:#000; left:0px; top:0px;}
}